<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PyNews Archive</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id="container">
        <div class="title">
            <h1>Search News Database</h1>
        </div>
        <div id="content">
            <form method="post" action="{{ url_for('search') }}">
                <label for="keyword">Please enter keyword to search:</label>
                <input name="keyword" type="text"  /><br />
                <input name="phrase" value="off" type="checkbox"> Search phrase <br>
                <input type="submit" />
            </form>
        </div>
    </div>
</body>

</html>